body
{
	background-color: #3BA3D0;
}
ul
{
    list-style-type: none;
    border-radius: 10px;
    margin: 0;

}

.joke-ul
{
	margin: auto;
	width: 80%;   
	padding: 10px; 
    background-color: #0772A1;
}

.punchline-ul
{
	display: none;
	padding: 0px;
}

li 
{
	font-family: "Courier New", Courier, monospace;
}
span
{
	cursor: pointer;
}
.prompt-li
{
	font-weight: bold;
	background-color: #63AFD0;
	line-height: 30px;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 10px;
}
.punchline-li
{
	font-size: 90%;
	line-height: 10px;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 5px;
	background-color: #8FC5DD;
}
h1
{
	margin-left: 10%;
	font-family: "Courier New", Courier, monospace;
}
/*
 #707ED7
*/