body
{
	background-color: #3BA3D0;
}
ul
{
    list-style-type: none;
    border-radius: 10px;
    padding: 15px; 
    margin: 0;
    background-color: #0772A1;

}

li 
{
	height: 50px;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 10px;
	background-color: #63AFD0;
}
/*
 #707ED7
*/